// Theme
// ======================================================

$heading-font-family = 'Martel'
$body-font-family = 'Lato'
$font-size-root = 12pt

@import '~vuetify/src/stylus/settings/_variables'

// Light-Theme
// =========================================

$material-light.app-bar = #2F2F2F
$material-light.background = #2F2F2F
$material-light.cards = #FAFAFA
$material-light.text.primary = #2F2F2F
$material-light.text.secondary = rgba(47, 47, 47, 0.65)

// Dark-Theme
// =========================================

$material-dark.app-bar = #464646
$material-dark.background = #464646
$material-dark.cards = #383838
$material-dark.text.primary = #E3E3E3
$material-dark.text.secondary = rgba(227, 227, 227, 0.65)

@require '~vuetify/src/stylus/main'
